html{
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

body{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #000000, #343B4C);
    background-attachment: fixed;
    background-size: cover;
    flex-direction: column;
    justify-content: space-between;
}


/*INDEX.HTML*/
body.paginaindex{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #343B4D, #343B4D, #343b4d1f),  url('/static/img/2174e790-023d-4e3a-8c8d-076eaad7daee.jpeg') ;
    background-position: right bottom ;
    background-repeat: no-repeat;
    background-size: contain; 
}

.texto_index{
    display: inline-block; 
    margin-left: 10%; 
    margin-top: 7%;
    margin-bottom: 7%;
    border-left: 0.15vw solid #FED6DF; 
    padding-left: 3%;
}

.texto_index h1{
    margin-bottom: 5px;
    margin-top: 4px;
    color: #FFF;
    font-family: Inter;
    font-size: 3vw;
    font-style: normal;
    font-weight: 600;
}

.texto_index h1 img{
    width: 6vw;
    height: auto;
    display: inline-flex;
    align-items: center;

}

.texto_index h2{
    color: #FED6DF;
    font-family: Inter;
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
}

.texto_index p{
    color: #FFF;
    font-family: Inter;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
}


/*BASE.HTML*/
header{
    width: 100%;
    font-family: "Inter";
    font-weight: bold;
    font-size: 0.8vw;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #343B4D;
    min-height: 2.5vw;
    border-bottom: 0.15vw solid #FED6DF;

}

nav {
    width: 50%;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 3%;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.8vw;
}

.logo_ada img{
    height: 2vw;
    margin-left: 30px; 
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.rede_de_apoio{
    padding: 0.3% 0.8%;
    font-size: 0.8vw;
    text-align: center;
    background-color: #FED6DF;
    border: none;
    border-radius: calc(0.5% + 0.7em);
    margin-left: 20px; 
    margin-right: 50px;
}

.rede_de_apoio a{
    text-decoration: none;
    color: #474F62;
}

footer {
    background-color: #343B4D; /* Cor de fundo do footer */
    border-top: 0.15vw solid #FED6DF;
    padding: 0.5vw;
    margin-top: 3.8vw;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.logo-esquerda, .logo-direita {
    height: 1.7vw;
    margin-right: 30px;
    margin-left: 30px;
}



/*LOGIN.HTML*/
.conteinerform {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.form {
    border-radius: calc(1% + 1.5em);
    background-color: #343B4C;
    box-shadow: lightgray; /* Sombra para dar profundidade */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28vw;
    height: 36vw;
    max-width: 1920px;
    
}
.titulo_form {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 38px;
    padding-top: 2.5vw;
    border-bottom: 3px solid #FED6DF; /* Aumentei a espessura da linha */
    text-align: center;
    padding-bottom: 10px; /* Espaçamento entre o texto e a linha */
    width: 80%; /* Para alinhar a linha com o texto */
}

.conteiner_inputs {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    display: flex;
    padding-top: 35px;
    align-items: flex-start;
    flex-direction: column;
    font-size: 20px; /* Aumentei o tamanho da fonte */
}

input {
    width: 18vw; 
    padding: 10px; 
    border-radius: 8px;
    border: none;
    overflow: hidden;
    outline: none;
    margin-bottom: 25px;
    background-color: #fbfbfd; /* Fundo do input */
    color: #000000; /* Cor do texto */
    font-size: 16px;
}

.botao {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    height: 3vw;
    width: 16vw;
    background-color: #FED6DF;
    color: #404758;
    border: none; 
    margin-top: 20px;
    padding: 10px 0; 
    text-align: center;
    border-radius: 12px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease; /* Adicionada animação ao botão */
}

.botao:hover {
    background-color: #ffb6c1; /* Cor ao passar o mouse */
    transform: scale(1.12); /* Efeito de clique */
}

.facacadastro{
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;

}
.facacadastro a {
    color: #FED6DF;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease-in-out; /* Animação suave ao passar o mouse */
}
.facacadastro p a:hover {
    color: #ffb6c1; /* Cor ao passar o mouse */
}

.senha_incorreta {
    color: #db7c7c;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.senha_incorreta img {
    height: 20px;
}

/*CADASTRO.HTML*/

.conteinerform_cadastro {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.cadastro_form {
    background-color: #343b4c;
    border-radius: calc(1% + 1.5em);
    box-shadow: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 33vw;
    max-width: 1920px;
}

.cadastro_titulo_form {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 38px;
    border-bottom: 3px solid #FED6DF; /* Aumentei a espessura da linha */
    text-align: center;
    padding-bottom: 10px; /* Espaçamento entre o texto e a linha */
    width: 80%; /* Para alinhar a linha com o texto */

}

.conteiner_inputs_cadastro {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    display: flex;
    padding-top: 35px;
    align-items: flex-start;
    flex-direction: column;
    font-size: 20px; /* Aumentei o tamanho da fonte */
}

input {
    width: 18vw; 
    padding: 10px; 
    border-radius: 8px;
    border: none;
    overflow: hidden;
    outline: none;
    margin-bottom: 25px;
    background-color: #fbfbfd; /* Fundo do input */
    color: #000000; /* Cor do texto */
    font-size: 16px;
}

.admcheck {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center; /* Alinha verticalmente */
    border: none;

}

.cadastro_botao {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    height: 3vw;
    width: 16vw;
    background-color: #FED6DF;
    color: #404758;
    border: none; 
    margin-top: 20px;
    padding: 10px 0; 
    text-align: center;
    border-radius: 12px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease; /* Adicionada animação ao botão */
}

.cadastro_botao:hover {
    background-color: #ffb6c1; /* Cor ao passar o mouse */
    transform: scale(1.12); /* Efeito de clique */
}


/*GERAL-ROTAS*/
.titulogeral{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1.2vw 0 0;
}
.titulo{
    font-family: "Poppins";
    font-style: normal;
    font-weight: bolder;
    font-size: 2vw;
    justify-content: center;
    color: #FFFFFF;
    margin-bottom: 0;
}

.subtitulo{
    font-family: "poppins";
    font-style: italic;
    font-weight: lighter;
    font-size: 1vw;
    color: #FED6DF;
    margin-top: 0.2vw;
    margin-bottom: 2vw;
}

/*CONHECA.HTML*/
.cards_equipe{
    max-width: 150%;
    display: flex;
    justify-content: center; 
}
.container_equipe{
    display: flex;
    gap: 1.5vw;
    width: 65%;
}

.card{
    background: #3B4151;
    padding: 1.5vw; 
    border-radius: 1vw;
    width: 30vw;
    display: flex;
    text-align: center;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  
}

.card h4{
    margin: 0.7vw;
    margin-bottom: 0.2vw;
    color: #FFF;
    font-family: Inter;
    font-size: 0.8vw;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    flex-wrap: wrap;
}

.card p{
    margin: 0;
    margin-top: 0;
    color: #FED6DF;
    font-family: Inter;
    font-size: 0.6vw;
    font-style: normal;
    font-weight: 300;
    text-align: center;
}

.card img{
    width: 4vw; 
    height: 4vw; 
    border-radius: 50%;
    margin-top: 0;
    text-align: center;
}

.titulo_conheca_pt2{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    font-family: "Poppins";
    font-weight: bolder;
    font-size: 2vw;
    color: #FFFFFF;
    display: flex;
    text-align: center; 
    justify-content: center;
}

.container_depoimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw; 
}

.card_dp{
    align-items: flex-start;
    background: #3B4151;
    border-radius: 1.5vw;
    width: 50vw;
    height: 10vw;
}

.cards_depoimentos h4, .cards_depoimentos p{
    margin: 0;
}

.card_dp h4{
    margin: 1vw 0 0.5vw 0;
    margin-left: 3%;
    color: #FFF;
    font-family: Inter;
    font-size: 1vw;
    font-style: normal;
    font-weight: 600;
}

.card_dp p{
    margin: 0;
    margin-left: 3%;
    color: #FFF;
    font-family: Inter;
    font-size: 0.8vw;
    font-style: italic;
    font-weight: 200;
}

.card_dp:last-of-type {
    margin-bottom: 90px; 
}

/*NOSSOS_TRABALHOS.HTML*/
.container_fotosNS{
    margin-top: 1.5%;
    display: flex;
    flex-direction: column; /* Organiza as linhas em uma coluna */
    gap: 20px; /* Espaçamento entre as linhas de fotos */
    align-items: center; /* Alinha horizontalmente no centro */
}

.fotos_linha1{
    margin-bottom: 20px;
}

.fotos_linha1, .fotos_linha2{
    display: flex; 
    gap: 45px; /* Espaçamento entre itens na mesma linha */
    justify-content: center; /* Alinha horizontalmente no centro */
}

/* Item da foto (imagem + descrição) */
.foto-item{
    text-align: center; /* Centraliza o texto abaixo da imagem */
}

.foto-item img{
    width: 15vw;
    height: 10vw;
}

.foto-item p{
    color: #FED6DF;
    font-family: Inter;
    font-size: 0.7vw;
    font-style: italic;
    font-weight: 200;
    margin: 0; 
    padding-top: 10px; /* Espaçamento entre a imagem e a descrição */
}

.titulo_materiaisAP{
    margin-top: 60px;
    margin-bottom: 50px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: bolder;
    font-size: 1.4vw;
    color: #FFFFFF;
    display: flex;
    text-align: center; 
    justify-content: center;
    align-items: center;
}

.section_materiais{
    display: flex;
    justify-content: center;
    align-items: center;
}

.materiaisAP{
    background: #3B4151;
    border-radius: 1vw;
    width: 40%;
    height: 10vw;
    border: 1px solid #FED6DF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}

.bloco_materiais1{
    margin-right: 3vw;
}

.bloco_materiais1 a, 
.bloco_materiais2 a {
    color: #FFF;
    font-family: Inter;
    font-size: 0.5vw;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}


