<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="gradient"></div>
    <header>
        <div class="logo_ada">
            <a href="{{url_for('index')}}"><img src="/static/img/logo_ada.png" alt=""></a>
        </div>

        <nav>
            <ul>
                <li><a href="{{url_for('conheca')}}">Conheça-nos</a></li>
                <li><a href="{{url_for('nossos_trabalhos')}}">Nossos Trabalhos</a></li>
                <li><a href="{{url_for('lovelace')}}">Lovelace</a></li>
                <li><a href="{{url_for('dados')}}">Dados</a></li>
            </ul>    
        </nav>
              
        <div class="rede_de_apoio">
            <a href="{{url_for('login')}}">Rede de apoio</a>
        </div>
    </header>
    
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
    
    <footer class="rodape">
        <div class="logoinsta">
            <a href="https://www.instagram.com/ada.ifzn/"><img src="/static/img/logoinsta.png" alt="instagram"></a>
        </div>
        <div class="logoif">
            <img src="/static/img/logoif.png">
        </div>
    </footer>
    
</body>
</html>