<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo_ada">
            <img src="/static/img/logo_ada.png" alt="">
        </div>

        <nav>
            <ul>
                <li><a href="{{url_for('conheca')}}">Conheça-nos</a></li>
                <li><a href="{{url_for('nossos_trabalhos')}}">Nossos Trabalhos</a></li>
                <li><a href="{{url_for('lovelace')}}">Lovelace</a></li>
                <li><a href="{{url_for('dados')}}">Dados</a></li>
            </ul>    
        </nav>
              
        <div>
            <a href="{{url_for('login')}}">Rede de apoio</a>
        </div>
    </header>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
    <footer>
        <a href=""><img src="" alt=""></a>
        <img src="" alt="">
    </footer>
</body>
</html>