{% extends 'base.html' %}

    {% block conteudo %}   
    <div class='cadastro_form_geral'>
        <form class="cadastro_form" action="{{url_for('login')}}" method="post">
            <h1 class="cadastro_titulo_form">Faça seu Cadastro</h1>
    
            <div class="cadastro_fonte_form">
                <label for="">Usuário:</label>
                <input class="cadastro_input" placeholder="Nome de Usuário" type="text" name="usuario_login"><br/>
    
                <label for="">Email:</label>
                <input class="cadastro_input" placeholder="seuemail@exemplo.com" type="email" name="email"><br/>
    
                <label>Senha:</label>
                <input class="cadastro_input" placeholder="Senha" type="password" name="senha_login"><br/>
    
                <button class="cadastro_botao" type="submit">Enviar</button>
            </div>
        </form>
    </div>
    {%endblock%}
