{% extends 'base.html' %}

    {% block conteudo %}
    <section class="titulogeral">
            <h1 class="titulo">Conheça nossa equipe</h1>
            <p class="subtitulo">Pessoas que buscam fazer a diferença por meio do projeto Ada</p>
    </section>
    <section>
        <div class="container_equipe">
            <div class="card">
                <img src="" alt="">
                <h4>Alba Lopes</h4>
                <p>Professora IFRN</p>
            </div>
            <div class="card">
                <img src="/static/img/fotokarol.png" alt="">
                <h4>Karolayne Azevedo</h4>
                <p>Membro externo</p>
            </div>
            <div class="card">
                <img src="/static/img/fotoclara.png" alt="">
                <h4>Clara Freire</h4>
                <p>Aluna 3º de Informática para Internet</p>
            </div>
            <div class="card">
                <img src="/static/img/fotolaura.png" alt="">
                <h4>Maria Laura</h4>
                <p>Aluna 3º de Informática para Internet</p>
            </div>
        </div>
    </section>
    <section>
        <h1 class="titulo_conheca_pt2">Depoimentos</h1>
    </section>
    <section>
        <div class="container_depoimentos">
            <div class="card_dp">
                <h4>Alba Lopes:</h4>
                <p>“Fala muito impactante de Alba”</p>
            </div>
            <div class="card_dp">
                <h4>Karolyne Azevedo:</h4>
                <p>“Fala muito impactante de Karol”</p>
            </div>
            <div class="card_dp">
                <h4>Clara Freire:</h4>
                <p>“Fala muito impactante de Clara”</p>
            </div>
            <div class="card_dp">
                <h4>Maria Laura:</h4>
                <p>“Fala muito impactante de Laura”</p>
            </div>
        </div>
    </section>
    {%endblock%}