{% extends 'base.html' %}

    {% block conteudo %}
    <section>
        <h1>Conheça nossa equipe</h1>
        <p>Pessoas que buscam fazer a diferença por meio do projeto Ada</p>
    </section>
    <div>
        <div>
            <img src="" alt="">
            <h4>Alba Lopes</h4>
            <p>Professora IFRN</p>
        </div>
        <div>
            <img src="" alt="">
            <h4>Karolayne Azevedo</h4>
            <p>Membro externo</p>
        </div>
        <div>
            <img src="" alt="">
            <h4>Clara Freire</h4>
            <p>Aluna 3º de Informática para Internet</p>
        </div>
        <div>
            <img src="" alt="">
            <h4>Laura Barbosa</h4>
            <p>Aluna 3º de Informática para Internet</p>
        </div>
    </div>
    {%endblock%}