{% extends 'base.html' %}

    {% block conteudo %}
        <div class="backgroundgirls">
            <img src="/static/img/fotogirls_ada_index.png" alt="">
        </div>
        <section class="texto_index">
            <h1>Junte-se e conheça o <br>projeto <img src="/static/img/Ada.png" alt=""></h1>
            <h2>O que somos?</h2>
            <p>Nós do projeto Ada buscamos <br> ajudar e apoiar mulheres que <br> desejem ingressar ou se <br> aperfeiçoar nas áreas STEM, sendo <br> por meio de Sites, documentos, <br> interações interpessoais e <br> materiais de estudo.</p>
        </section>
    </div>
    
    {%endblock%}