{% extends 'base.html' %}

{% block conteudo %}
{% set mensagens = get_flashed_messages(with_categories=true) %} 
{% if mensagens %}     
{% for categoria, msg in mensagens %}
    <div>
        {{ msg }}
    </div>
{% endfor %}
{% endif %}
<div class='form_geral'>
    <form class="form" action="{{url_for('rede_de_apoio')}}" method="post">
        <h1 class="titulo-form">Faça seu Login</h1>

        <div class="fonte_form">
            <label for="">Usuário:</label><br/>
            <input placeholder="exemplo@email.com" type="text" name="usuario"><br/>

            <label>Senha:</label><br/>
            <input placeholder="senha123" type="password" name="senha"><br/>

            <button class="botao" type="submit">Entrar</button>
            <p>Não tem conta? <a href="{{url_for('cadastro')}}">Faça seu cadastro</a></p>
        </div>

    </form>
</div>
{%endblock%}