{% extends 'base.html' %}

    {% block conteudo %}
    <section class="titulogeral">
        <h1 class="titulo">Nossos Trabalhos</h1>
        <p class="subtitulo">Conheça abaixo alguns de nossos trabalhos</p>
    </section>
    <section>
        <div class="container_fotosNS">
            <div class="fotosNS">
                <img src="/static/img/nossostrab_1.png" alt="">
                <p>descrição</p>
            </div>
            <div class="fotosNS">
                <img src="/static/img/nossostrab_2.png" alt="">
                <p>descrição</p>
            </div>
            <div class="fotosNS">
                <img src="/static/img/nossostrab_3.png" alt="">
                <p>descrição</p>
            </div>
            <div class="fotosNS">
                <img src="/static/img/nossostrab_4.png" alt="">
                <p>descrição</p>
            </div>
        </div>
    </section>
    {%endblock%}