{% extends 'base.html' %}
{% block extra_css %}
    .navbar, .rede_de_apoio, .logo-esquerda{
        display: none !important;
    }
    .footer-container {
        justify-content: end;
    }
{% endblock %}

    {% block conteudo %}   
    <div class='conteinerform_cadastro'>
        <form class="cadastro_form" action="{{url_for('user.usuario')}}" method="post">
            <h1 class="cadastro_titulo_form">Faça seu Cadastro</h1>
    
            <div class="conteiner_inputs_cadastro">
                <label for="">Usuário:</label>
                <input placeholder="nome do usuario" type="text" name="usuario_login"><br/>
    
                <label>Email:</label>
                <input placeholder="Email" type="email" name="email"><br/>

                <label>Senha:</label>
                <input placeholder="Senha" type="password" name="senha_login"><br/>
            </div>

            <div class="admcheck"> 
                <input type="checkbox" id="is_admin" name="is_admin"/>
                <label for="is_admin">Administrador</label>
            </div>

            <div>
                <button class="cadastro_botao" type="submit">Enviar</button>
            </div>
        </form>
    </div>
    {%endblock%}
