{% extends 'base.html' %}

    {% block conteudo %}
    <section class="titulogeral">
            <h1 class="titulo">Conheça nossa equipe</h1>
            <p class="subtitulo">Pessoas que buscam fazer a diferença por meio do projeto Ada</p>
    </section>
    <section class="cards_equipe">
        <div class="container_equipe">
            <div class="card">
                <img src="/static/img/alba.jpeg" alt="">
                <h4>Alba Lopes</h4>
                <p>Professora IFRN</p>
            </div>
            <div class="card">
                <img src="/static/img/fotokarol.png" alt="">
                <h4>Karolayne Azevedo</h4>
                <p>Membro externo</p>
            </div>
            <div class="card">
                <img src="/static/img/fotoclara.png" alt="">
                <h4>Clara Freire</h4>
                <p>Aluna 3º de Informática para Internet</p>
            </div>
            <div class="card">
                <img src="/static/img/fotolaura.png" alt="">
                <h4>Maria Laura</h4>
                <p>Aluna 3º de Informática para Internet</p>
            </div>
        </div>
    </section>

    <section class="container-geral-sobre-o-ada">
        <section class="container_sobre_o_ada">
            <h2>Sobre o Projeto Ada</h2>
            <div class="textos_sobre_o_ada">
                <p>Estudos apontam que meninas se interessam menos pelas áreas STEM (do inglês, Science, Technology, Engineering, and Mathematics), não por incapacidade cognitiva, mas por questões políticas, pela falta de estrutura educacional, social, cultural e principalmente devido a estereótipos. Dados indicam que as mulheres representam apenas 28% da força de trabalho nessas áreas [PNUD 2023]. A partir disso, a baixa representatividade feminina torna-se um fator preocupante, visto o que é apontado por [Lima 2013], de que as mulheres são consideradas um fator chave para ampliar o interesse das novas gerações pelas áreas STEM, tendo em vista do seu poder de influência em diversos setores da sociedade e diversas gerações.</p>

                <p>Com base na disparidade de gênero nas áreas, tanto no cenário local quanto global, e na inquietação de alunas e professoras surge o Projeto Ada, um projeto de extensão que visa estudar e promover a participação feminina nas áreas STEM. As atividades realizadas incluem pesquisas bibliográficas e análise de dados referentes à participação feminina, assim como rodas de conversas, exibições de filmes temáticos e oficinas de desenvolvimento de jogos digitais com o objetivo de conscientizar sobre a baixa representatividade das mulheres e fomentar o interesse das mesmas por essas áreas.
                </p>
            </div>
        </section>
    </section>
    

    <section>
        <h1 class="titulo_conheca_pt2">Depoimentos</h1>
    </section>
    <section>
        <div class="container_depoimentos">
            <div class="card_dp">
                <h4>Alba Lopes:</h4>
                <p>“Fala muito impactante de Alba”</p>
            </div>
            <div class="card_dp">
                <h4>Karolyne Azevedo:</h4>
                <p>“Fala muito impactante de Karol”</p>
            </div>
            <div class="card_dp">
                <h4>Clara Freire:</h4>
                <p>“Fala muito impactante de Clara”</p>
            </div>
            <div class="card_dp">
                <h4>Maria Laura:</h4>
                <p>“Fala muito impactante de Laura”</p>
            </div>
        </div>
    </section>
    {%endblock%}