{% extends 'base.html' %}

    {% block conteudo %}
    <section class="titulogeral">
        <h1 class="titulo">Adicione conteúdo aqui</h1>
        <p class="subtitulo">Conteúdo referente a página de nossos trabalhos</p>
    </section>

    <section>
        <div class='conteinerform_adm'>
            <form class="adm_form" action="{{url_for('user.upload_trabalho')}}" method="POST" enctype="multipart/form-data">
                <h1 class="adm_titulo_form">Envie um trabalho</h1>
        
                <div class="conteiner_inputs_adm">
                    <label for="">Adicione um título aqui:</label>
                    <input placeholder="Título" type="text" name="titulo"><br/>
        
                    <label for="">Adicione uma descrição aqui:</label>
                    <input placeholder="Descrição" type="text" name="descricao"><br/>
                    
                    <label for="link">Insira um link:</label>
                    <input type="url" name="link" id="link" placeholder="https://exemplo.com">
                </div>
                <div>
                    <button class="adm_botao" type="submit">Enviar</button>
                </div>
            </form>
        </div>

    </section>


    
    {%endblock%}