{% extends 'base.html' %}

    {% block conteudo %}
        <section class="titulogeral">
            <img class="titulo" src="/static/img/Lovelace (1).png" alt="">
            <p class="subtitulo">Conheça mais sobre mulheres importantes em áreas STEM</p>
        </section>
        
        <section class="container-ada">
            <div class="div-esquerda-ada">
                <h2>Quem foi Ada Lovelace?</h2>
                <p>Ada Lovelace foi uma matemática e escritora inglesa, considerada a primeira programadora de computador. No século XIX, ela criou o primeiro algoritmo para uma máquina, a máquina analítica de Charles Babbage, e antecipou o potencial das máquinas para além dos cálculos, vislumbrando seu uso em áreas como música e texto. Seu trabalho é fundamental para a história da computação e também serve de inspiração para mulheres que desejam seguir carreiras na área de STEM.</p>
            </div>
            <div class="div-direita-ada">
                <img src="static/img/Mask group.png" alt="">
            </div>
        </section>

        <div class="container-o1">
            <div class="container-outrasmulheres">
                <h2 class="titulo-outras">Outras mulheres</h2>
                <p class="subtitulo-outras">Que foram de extrema importância para a área STEM</p>
            </div>
        </div>
        
    {%endblock%}