{% extends 'base.html' %}

    {% block conteudo %}
    <section class="titulogeral">
        <h1 class="titulo">Nossos Trabalhos</h1>
        <p class="subtitulo">Conheça abaixo alguns de nossos trabalhos</p>
    </section>
    <section>
        <div class="container_fotosNS">
            <div class="fotos_linha1">
                <div class="foto-item">
                    <img src="/static/img/nossostrab_1.png" alt="">
                    <p>Descrição 1</p>
                </div>
                <div class="foto-item">
                    <img src="/static/img/nossostrab_2.png" alt="">
                    <p>Descrição 2</p>
                </div>
            </div>
            <div class="fotos_linha2">
                <div class="foto-item">
                    <img src="/static/img/nossostrab_3.png" alt="">
                    <p>Descrição 3</p>
                </div>
                <div class="foto-item">
                    <img src="/static/img/nossostrab_4.png" alt="">
                    <p>Descrição 4</p>
                </div>
            </div>
        </div>
    </section>
    
    <h1 class="titulo_materiaisAP">Materiais Apresentados</h1>
    {%endblock%}