{% extends 'base.html' %}

    {% block conteudo %}
    <section class="titulogeral">
        <h1 class="titulo">Nossos Trabalhos</h1>
        <p class="subtitulo">Conheça abaixo alguns de nossos trabalhos</p>
    </section>

    <section class="banner">
        <p>O projeto ADA já atuou em diversas escolas por Natal, mudando e conscientizando a vida de diversas mulheres por onde passa.</p>
        <img src="app/static/img/7 2" alt="">
    </section>
    
    <h1 class="titulo_materiaisAP">Materiais Apresentados</h1>
    {%endblock%}