{% extends 'base.html' %}

{% block conteudo %}
<section class="pag_rede_apoio">
    <aside class="sidebar_rda">
        <div>
            <p>{{current_user.name}}</p>
        <h3>Dados Pessoais</h3>
        <div class="infopessoais">
            <p>{{current_user.email}}</p>
        </div>

        
        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
            <p class="nav-item active">
                    <a class="nav-link" href="{{url_for('user.logoff')}}">Sair</a>
            </p>
        </ul>
        </div>

    </aside>

    <section>
        <div class="titulogeral">
            <h1 class="titulo">Rede de Apoio</h1>
            <p class="subtitulo">Compartilhe sua experiência na área STEM e incentive outras mulheres.</p>
        </div>

<div class="formrededeapoio">
        <form action="{{ url_for('user.mensagens') }}" method="post">
            <div>
                <input class="textboxinput" type="text" id="mensagens" name="mensagens" placeholder="Fale conosco"><br>
            </div>
            <div>
                <button class="botaorede" type="submit">Enviar</button>
            </div>
        </form>
</div>

<ul>
    {% for i in mensagens %}
        <li class="card">
            <p>{{ i.user.name }}</p>  <!-- Exibe o nome do usuário associado à mensagem -->
            <p>{{ i.mensagem }}</p> 
        </li>
    {% endfor %}
</ul>

{% endblock %}
