{% extends 'base.html' %}

{% block conteudo %}
<section class="pag_rede_apoio">
    
    <aside class="sidebar_rda">
        <div>
            <div class="perfil_usuario">
                <p class="nome_usuario">{{current_user.name}}</p>
                {% if current_user.is_admin %}
                    <p class="cargo_usuario">Administrador</p>
                {% endif %}
            </div>

            <div class="dados_pessoais">
                <h3>Dados Pessoais</h3>
                <p class="info_pessoal">{{ current_user.email }}</p>
                <p class="info_pessoal">Mensagens enviadas: {{ current_user.message_count }}</p>
                
                {% if current_user.is_authenticated and current_user.is_admin %}
                <a href="{{ url_for('form_adm') }}" class="botao_submeter">Submeter projeto</a>
                {% endif %}
            </div>
            
            <div class="botoes_sair_deletar">
                <form action="{{ url_for('user.delete_user') }}" method="post">
                    <button type="submit" class="botao_deletar" onclick="return confirm('Tem certeza que deseja excluir sua conta?')">
                        Deletar Conta
                    </button>
                </form>
                <a class="nav-link" href="{{ url_for('user.logoff') }}">Sair da Conta</a>
            </div>
        </div>
    </aside>

    <section>
        <div class="titulogeral">
            <h1 class="titulo">Rede de Apoio</h1>
            <p class="subtitulo">Compartilhe sua experiência na área STEM e incentive outras mulheres.</p>
        </div>

        <div class="containerrda">
            <div class="formrededeapoio">
                <form action="{{ url_for('user.mensagens') }}" method="post">
                    <div>
                        <input class="textboxinput" type="text" id="mensagens" name="mensagens" placeholder="Fale conosco"><br>
                    </div>
                    <div>
                        <button class="botaorede" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        
            <ul class="messagecard">
                {% for i in mensagens %}
                    <li class="cardrede">
                        <div class="cardcontent">
                            <div class="avatar"></div> <!-- Avatar aqui -->
                            <h4 class="cardusername">{{ i.user.name if i.user and i.user.name else 'Usuário desconhecido' }}:</h4>
                            <p class="cardusertext">{{ i.mensagem }}</p>
                            {% if i.user_id == current_user.id %}
                            <!-- Formulário para excluir mensagem -->
                                <form action="{{ url_for('user.delete_mensagem', mensagem_id=i.id) }}" method="post">
                                    <button type="submit" onclick="return confirm('Tem certeza que deseja excluir esta mensagem?')">Excluir</button>
                                </form>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
