{% extends 'base.html' %}

{% block conteudo %}
<section class="titulogeral">
    <h1 class="titulo">Rede de Apoio</h1>
    <p class="subtitulo">Compartilhe sua experiência na área STEM e incentive outras mulheres.</p>
</section>
<section class="input">
    <form action="{{ url_for('mensagens') }}" method="post">
        <input class="input_rede" type="text" id="mensagens" name="mensagens" placeholder="Fale conosco"><br>
        <button class="botao_rede" type="submit">Enviar</button>
    </form>
</section>

<!-- Se a lista estiver vazia, mostrar 'sem mensagens' -->
{% if not lista %}
    <p class="subtitulo">Sem mensagens.</p>
{% else %}
    <!-- Exibe a lista de mensagens -->
    <ul>
        {% for i in lista %}
            <li class="card">
                <h4>{{ usuario }}:</h4>
                <p>{{ i }}</p> 
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}